body{
  background-color: green;
  box-sizing: border-box;
}
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 40%;
    padding: 1rem;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1rem solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 2rem;
  }
  
  /* List items */
  .price li {
    border-bottom: 2rem solid #eee;
    padding: 2 rem;
    text-align: center;
    color: white;
  }
  
  /* Grey list item */
  .price  {
    font-size: 2rem;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }