@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{  
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    margin: 0;
    padding: 0;
    
    background-size: cover;
    box-sizing: border-box;
    
    
}
h1{
    font-size: 3rem;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 16rem auto auto 16rem;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    gap: 1rem;
    height: 100%;
    color: white;
}

#header {
    grid-column: 1/5;
    display: flex;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.grid-container-head{  
    width: 50%;
    color: white;
}

.grid-container-head a:hover {
    color: green;
 }

 .grid-container-head a:link{
    text-decoration: none;
    color: white;
 }
#sidebar {
    display: grid;
    grid-template-rows: 1fr,1fr;
    font-family: 'Lobster', cursive;
    border-radius: 5%;
    grid-column: 1/2;
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
   
    
}

#content {
    
    display: grid;
    text-align: center;
    border-radius: 10%;
    grid-column: 2/ 4;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    padding: 20px;
}
#content a:hover{
    color: green;
}
.programQuote{
    font-family: 'Lobster', cursive;
    grid-template-rows: 1/2;
    font-weight: lighter;
    font-size: 2rem;
    display: grid;
    position: relative;
    text-align: left;
    top: 70px;
    width: 100%;

}
#sidebar img{
    width: 100%;
    height: 100%;
    grid-template-rows: 1/2;
    object-fit: cover;
    

}
.photoGragherQuote{
    display: grid;
    font-family: 'Lobster', cursive;
    grid-template-rows: 1/2;
     width: 15%;
    bottom: 8px;
    font-size: 2rem;
}
.list{
    position: relative;
    color: white;
    display: grid;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    align-items: center;
}
.content{
    position: relative;
    display: flex;
    text-align: center;
}
h2{
    text-align: center;
    display: grid;
    font-size: 3rem;
}
.list li{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
#sidebar-2 {
    display: grid;
    grid-template-rows: 1fr,1fr;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    color: white;
}  
#sidebar-2 img{
    width: 100%;
    height: 100%;
   object-fit: cover;
    
}
#footer {
    display: grid;
    border-radius: 8%;
    grid-column: 1 / 5;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.us img{
    left: 8rem;
    height: 100%;
    width: 10%;
    grid-row: 1/3;
    grid-column: 1/3;
    object-fit: cover;
}
.freemans{
    font-size: 2rem;
    display: flex;
    position: relative;
}
.chat{
    background-color: green;
    font-size: 1rem;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 8rem;
    opacity: .7;
    position: fixed;
    bottom:1rem;
    right: .7rem;
    width: 16rem;
}
.chat:hover{
    color:black;
}
.vet img{
    position:absolute;
    display: grid;

    left: 19rem;
}
.copyright{
    text-align: center;
}
@media only screen and (max-width: 1366px)  {
    h1{
        color: white;
        font-size: 4rem;
        text-align: center;
  
    }
    h2{
        text-align: center;
    }
    nav a {
        color: white;
        text-decoration: none;
        text-align: center;

    }
    @media only screen and (max-width: 768px) {
        #content{
        
            align-content: center;
            font-size: 1rem;
            display: inline;
            float: left;
        }
        h1{
            
            color: white;
            font-size: 2rem;
            text-align: center;
      
        }
        h2{
            text-align: center;
            font-size: 2rem;
        }
        nav a {
            color: white;
            border-radius: 1rem;
            text-decoration: none;
            align-content: center;
            
        } 
        #sidebar img,#sidebar-2 img{
            display: 50%;
        }    
        chat{
            font-size: 1rem;
            align-items: center;
        }
        .vet img{
            display: none;
        }
        .us{
            display: none;
        }
        .freemans{
            display: none
      } 
    }
@media screen and (max-width: 498px) {
    
    #content{
        align-content: center;
        font-size: .75rem;
    }
    
    h1{
         width: 40%;
        color: white;
        font-size: .75rem;
        align-content: center;
  
    }
    h2{
        text-align: center;
        font-size: .75rem;
    }
    nav {
        display: inline;
        font-size: .75rem;
        float: left;
        color: white;
        align-content: center;
        text-decoration: none;
        text-align: left;
    } 
    .list li{
       
        display: inline;
        float: 
        align-content: center;  
        font-size: .75rem
    }
    #content {
       
        font-size: 1rem;
        align-items: center;
    }
    #sidebar,#sidebar-2 {
       display: none;
    }
    #footer{
        display: none;
    }
}    