@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    background-color: cornflowerblue;
}
header{
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px 0px 0px 10px;
    padding: -100px;
}

.logo{
    font-size: 40px;
    display: inline;
    color: black;
    text-align: left;
}
.price td{
    font-size: 100px;

}

.logo2{
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    background-color: rgb(35, 72, 142);
    width: 60%;
    margin: 10px 10px 10px 30px;
    padding-bottom: 100px;
    
}

.logo2 a{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: skyblue;
    text-decoration: none;
    

}
.logo2 a:hover{
    color: red; 
    
}

.navLinklist{
    text-decoration: none;
    list-style: none;
    padding: auto;
    position: relative;
    display: inline;
    margin: 25px 25px;
    
}

.navLinklist li{
    display: inline-block;
}
.navLinklist li a{
    color: rgb(0, 8, 14);
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
}
.navLinklist li a:hover{
   color: red

}
nav{
    display: inline;
    position: relative;
    text-align: right;
    float: right;
}
.mainBody{
    position: relative;
    margin-top: 150px;
    width: 100%;
    background-color: blue;
}
.Us img{
    position: relative;
    display: inline-block;
    bottom: 100px;
    left: 900px;
}
.programPhoto{
    position: relative;
    display: inline-block;
    width: 20%;
}
.programPhoto img{
    position: relative;
    display: inline;
    top: 70px;
    width: 100%;
}
.photoGragher img{
    position: absolute;
    display: inline-block;
    top: 75px;
    right: 25px;
    width: 15%;
}
.programQuote{
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 35px;
    display: inline;
    position: relative;
    text-align: left;
    top: 70px;
    width: 100%;

}
.photoGragherQuote{
    position: absolute;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    right: 0px;
    width: 15%;
    bottom: 8px;
    top: 325px;
    font-size: 35px;
}
.freemans{
    position: relative;
    display: inline-block;
    right:-650px;
    width: 15%;
    bottom: 75px;
    font-size: 20px;
}
.list{
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 30px;
    top: -60px;
}
.list li{
    text-decoration: none;
    list-style-type: none;
}
footer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.chat{
    background-color:blue;
    color: white;
    cursor: pointer;
    opacity: .7;
    position: fixed;
    bottom:10px;
    right: 5px;
    width: 250px
}
.chat:hover{
    color:darkred;
}
.vet{
    position: fixed;
    margin: 5px 5px 5px 5px;
    bottom: -20px;
}
.vet:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png");
 }