#main-header{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.headline1{
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.headline2{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body> p{
    line-height: 20px;
}

b{
    color: lightcoral;

}
.upper{
    text-transform: uppercase;
    margin-bottom: 30px;
}
img {
    float: left;
    padding: 10px;
  }
* {
   background-color: lightcyan; 

}
ol {
    list-style-type: disc;
  }
a:hover {
    text-decoration: underline;
}
  