header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px 0px 0px 10px;
    padding: 10px;
}

.logo{
    font-size: 40px;
    display: inline;
    color: black;
    text-align: left;
}

.logo2{
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    background-color: rgb(35, 72, 142);
    width: 60%;
    margin: 0px 0px 0px 30px;
    border: 3px solid black;
    
}

.logo2 a{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: skyblue;
    text-decoration: none;

}
.logo2 a:hover{
    color: red; 
    
}

.navLinklist{
    text-decoration: none;
    list-style: none;
    padding: auto;
    position: relative;
    display: inline;
    margin: 25px 25px;
    
}

.navLinklist li{
    display: inline-block;
}
.navLinklist li a{
    color: steelblue;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}
.navLinklist li a:hover{
   color: red

}
nav{
    display: inline;
    position: relative;
    text-align: right;
    float: right;
}
.mainBody{
    margin-top: 60px;
    width: 100%;
    background-color: blue;
}
.programPhoto{
    position: relative;
    display: inline-block;
    width: 20%;
}
.programPhoto img{
    width: 100%;
}
.programQuote{
    font-style: italic;
    font-weight: bolder;

}
footer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.chat{
    background-color:blue;
    color: white;
    cursor: pointer;
    opacity: .7;
    position: fixed;
    bottom:10px;
    right: 5px;
    width: 250px
}
.chat:hover{
    opacity: 2;
}
